* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100%; 兼容IE8 */
}
html {
  /* height: 100%; 兼容IE8 */
}

.wrapper {
  display: flex;
  position: relative;
}
.inputWrapper {
  position: relative;
  display: inline-block;
}
.inputWrapper > input[type="text"] {
  height: 40px;
  line-height: 40px;
  width: 544px;
  border: 1px solid #cccccc;
  border-right: none;
  font-size: 17px;
  padding-left: 8px;
}

.inputWrapper > input[type="text"]:hover {
  border: 1px solid #b3b3b3;
  border-right: none;
}
.inputWrapper > input[type="text"]:focus {
  outline: none;
  border: 1px solid #4791ff;
  border-right: none;
}

.floatDiv {
  position: absolute;
  top: 1px;
  right: 1px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 8px;
}

.floatDiv .icon {
  fill: #999999;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.floatDiv .icon:hover {
  fill: #4791ff;
}

.dividingLine {
  margin: 0 8px;
  width: 0;
  height: 20px;
  border-left: 1px solid #999999;
}

.searchButoon {
  border: none;
  background: none;
  background-color: #3385ff;
  line-height: 40px;
  color: #fff;
  font-size: 15px;
  padding: 0 18px;
}
.searchButoon:hover {
  background-color: #317ef3;
  box-shadow: 1px 1px 1px #ccc;
  border-bottom: #2868c8;
}
.options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #cccccc;
  border-top: none;
  width: 544px;
}
.options.active{
  display: block;
}
.options > li {
  padding-left: 8px;
  line-height: 25px;
  font-size: 14px;
}
.options > li:hover{
  background-color: #f0f0f0;
}